<app-navbar></app-navbar>
<div class="wrap cf">
    <div class="heading cf">
        <h1>Cart</h1>
        <a href="/" class="continue">Continue Shopping</a>
    </div>
    <div class="cart">
        <ul class="cartWrap">
            <li class="items even">
                <div class="infoWrap">
                    <div class="cartSection">
                        <img src="assets/images/edukaheadphones.jpg" alt="" class="itemImg" />
                        <p class="itemNumber">#QUE-007544-002</p>
                        <h3>Item Name 1</h3>
                        <p> <input type="text" class="qty" placeholder="3" /> x ksh 5.00</p>
                    </div>
                    <div class="prodTotal cartSection">
                        <p>KSh 1500.00</p>
                    </div>
                    <div class="cartSection removeWrap">
                        <a href="#" class="remove">x</a>
                    </div>
                </div>
            </li>
            <li class="items even">
                <div class="infoWrap">
                    <div class="cartSection info">
                        <img src="assets/images/edukaheadphones.jpg" alt="" class="itemImg" />
                        <p class="itemNumber">#QUE-007544-002</p>
                        <h3>Item Name 1</h3>
                        <p> <input type="text" class="qty" placeholder="3" /> x ksh 5.00</p>
                    </div>
                    <div class="prodTotal cartSection">
                        <p>KSh 1500.00</p>
                    </div>
                    <div class="cartSection removeWrap">
                        <a href="#" class="remove">x</a>
                    </div>
                </div>
            </li>
        </ul>
    </div>

    <div class="subtotal cf">
        <ul>
            <li class="totalRow"><span class="label">Subtotal</span><span class="value">KSh 3000.00</span></li>
            <li class="totalRow"><span class="label">Shipping</span><span class="value">KSh 200.00</span></li>
            <li class="totalRow final"><span class="label">Total</span><span class="value">KSh 3200.00</span></li>
            <li class="totalRow"><a href="#" class="btn continue">Checkout</a></li>
        </ul>
    </div>
</div>
<app-footer></app-footer>