.footer {
  left: 0;
  margin-bottom: -2rem;
  padding-top: 2rem;
  width: 100vw;
  height: 12vh;
  min-height: 12vh;
  background-color: #383838;
  color: white;
  font-size: 12px;
  font-weight: 500;
  font-family: sans-serif;
  text-align: center;
  border-top: 1px solid rgba(64, 64, 64, 0.3);
}
/* small phones media query */
@media screen and (min-device-width: 320px) and (max-device-width: 640px) {
  .body {
    width: 100%;
    overflow-x: hidden;
  }
  .footer {
    width: 69rem;
    height: 20vh;
    padding-top: 4rem;
    margin-top: 20rem;
    margin-bottom: -30rem;
  }
}

/* iphone phones media query */
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) {
  .body {
    width: 100%;
    overflow-x: hidden;
  }
  .footer {
    width: 69rem;
    height: 25vh;
    padding-top: 4rem;
  }
}

/* ipad media query */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .body {
    width: 100%;
    overflow-x: hidden;
  }
  .footer {
    width: 72rem;
    height: 15vh;
    padding-top: 4rem;
    margin-top: 20rem;
    margin-bottom: -30rem;
  }
}

/* ipad pro media query */
@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 2) {
  .body {
    width: 100%;
    overflow-x: hidden;
  }
  
}
