<div class="top-container need-help">
    <div class="eduka-needhelp">
        <p>NEED HELP ON E-DUKA?</p>
    </div>
    <img src="assets/images/edukacall.png" alt="call">
    <h2>Call</h2>
    <h3 class="animate_animated animate__fadeInDown">0712345678</h3>
    <span>or</span>
    <h4 class="animate_animated animate__fadeInUp">0712345678</h4>
</div>
<br>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">
        <img src="/assets/images/logo.jpg" alt="logo">&nbsp;E-DUKA
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <form class="form-inline my-2 my-lg-0 search-form">
            <input class="form-control mr-sm-2" type="search" placeholder="Search products and categories"
                aria-label="Search">
            <button class="btn my-2 my-sm-0" type="submit">Search</button>
        </form>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item cart">
                <a class="nav-link" href="#">
                    <img src="assets/images/edukacart.png" alt="cart">
                    <span>Cart</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
            </li>
        </ul>
    </div>
</nav>