.category-sidebar {
  width: 17vw;
  max-width: 500px;
  height: 65vh;
  background-color: #ffffff;
  border: 1px solid white;
  margin-top: 1.3rem;
  margin-left: -1.5rem;
  box-shadow: 0 2px 2px -2px rgba(0, 0, 0, 0.4);
}
.category-sidebar ul,
li,
li li {
  margin: 0;
  padding: 0;
}
.category-sidebar li {
  list-style: none;
  position: relative;
}
.category-sidebar li li {  
  list-style: none;  
  background-color: #ffffff;
  border-left: 1px solid rgba(0, 0, 0, 0.3);   
  z-index: 21;
  height: 65vh;
}
.category-sidebar ul {  
  visibility: hidden;  
  margin-top: -7rem;
  margin-left: 13.8rem;
  width: 51.7vw;
  box-shadow: 0px 0px 3px 0 rgba(0, 0, 0, 0.2);
}
.category-sidebar li:hover ul {  
  visibility: visible;  
} 
.category-sidebar a {
  font-size: 16px;
  font-family: sans-serif;
  font-weight: 500;
  text-decoration: none;
  padding: 6px 8px 7px 16px;
  text-align: start;
  color: rgba(0, 0, 0, 0.6);
  text-transform: capitalize;
  display: flex;
  align-items: center;
  gap: 7px;
}
.category-sidebar a:hover {
  color: #60a6d9 !important;
}
.category-sidebar a img {
  width: 18px;
  height: 18px;
  object-fit: contain;
}
.front-view {
  display: flex;
  margin-left: 1.5rem;
  flex-wrap: nowrap;
}
.carousel-inner {
  z-index: -1;
}
.carousel-inner img {
  width: 60vw;
  height: 65vh;
  object-fit: cover;
  image-rendering: auto;
  image-rendering: crisp-edges;
  image-rendering: pixelated;
}
.carousel-control-prev,
.carousel-control-next {
  background: none !important;
  filter: none !important;
  outline: 0;
}
.carousel .carousel-control {
  visibility: hidden;
}
.carousel:hover .carousel-control {
  visibility: visible;
}
.carousel-fade .carousel-item {
  opacity: 0;
  transition-duration: 0.7s;
  transition-property: opacity;
}
.carousel-item:after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.2);
}
.carousel-fade .carousel-item.active,
.carousel-fade .carousel-item-next.carousel-item-left,
.carousel-fade .carousel-item-prev.carousel-item-right {
  opacity: 1;
}
.carousel-fade .active.carousel-item-left,
.carousel-fade .active.carousel-item-right {
  opacity: 1;
}
.carousel-fade .carousel-item-next,
.carousel-fade .carousel-item-prev,
.carousel-fade .carousel-item.active,
.carousel-fade .active.carousel-item-left,
.carousel-fade .active.carousel-item-prev {
  transform: translateX(0);
  transform: translate3d(0, 0, 0);
}
.carousel-indicators li {
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background-color: #ffffff;
}
.carousel-indicators .active {
  background-color: #60a6d9;
}
.carousel-indicators {
  top: 22rem;
  gap: 10px;
}
.slider {
  width: 60vw;
  height: 65vh;
  margin-left: 1rem;
  margin-top: 1.3rem;
}
.sell-on-eduka {
  width: 18vw;
  height: 65vh;
  background-color: #ffffff;
  border: 1px solid white;
  margin-top: 1.3rem;
  margin-left: 1rem;
  box-shadow: 0 2px 2px -2px rgba(0, 0, 0, 0.4);
  display: block;
}
.sell-on-eduka img {
  width: 30px;
  height: 30px;
  object-fit: cover;
  border-radius: 50%;
}
.sell-links {
  margin-top: 2rem;
  margin-left: 1rem;
}
.sell-links a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 400;
  font-family: sans-serif;
  color: black;
}
.featured-collection {
  margin-top: -3rem;
}
.welcome {
  background-color: #ffffff;
  margin-top: 0.8rem;
  margin-left: 0rem;
  margin-bottom: 5rem;
  max-width: 100%;
  height: 10vh;
}
.welcome p {
  text-align: center;
  padding-top: 1rem;
  letter-spacing: 3px;
  font-size: 25px;
  font-weight: 500;
  font-family: sans-serif;
  color: #60a6d9;
}
.container {
  width: 100vw;
}
/* small phones media query */
@media screen and (min-device-width: 320px) and (max-device-width: 640px) {
  .body {
    width: 100%;
    overflow-x: hidden;
  }
  .category-sidebar {
    width: 400px;
  }
  .carousel-inner {
    width: 61rem;
  }
  .slider {
    width: 61rem;
  }
  .sell-on-eduka {
    width: 69rem;
    display: none;
  }
  .carousel-indicators {
    display: none;
  }
}

/* iphone phones media query */
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) {
  .body {
    width: 100%;
    overflow-x: hidden;
  }
  .category-sidebar {
    width: 400px;
  }
  .carousel-inner {
    width: 61rem;
  }
  .slider {
    width: 61rem;
  }
  .sell-on-eduka {
    width: 69rem;
    display: none;
  }
  .carousel-indicators {
    display: none;
  }
}

/* ipad media query */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .body {
    width: 100%;
    overflow-x: hidden;
  }
  .category-sidebar {
    width: 400px;
  }
  .carousel-inner {
    width: 61rem;
  }
  .slider {
    width: 61rem;
  }
  .sell-on-eduka {
    width: 69rem;
    display: none;
  }
  .carousel-indicators {
    display: none;
  }
}

/* ipad pro media query */
@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 2) {
  .body {
    width: 100%;
    overflow-x: hidden;
  }
  .category-sidebar {
    width: 400px;
  }
  .carousel-inner {
    width: 61rem;
  }
  .slider {
    width: 61rem;
  }
  .sell-on-eduka {
    width: 69rem;
    display: none;
  }
  .carousel-indicators {
    display: none;
  }
}
