<h1 style="text-align: center;"> Merchant Form </h1>
<div class="row" >
    <img src="/assets/images/logo.jpg" alt="logo" class="center">
    <div class="col-md-12">
        <form id="get-form" class="form" method="POST">
            <div class="form-group">
                <label for="storename" class="label-storename">
                    <span class="content-storename">Store Name :</span>
                </label>
                <input [(ngModel)]="registration.store_name" type="text" class="form-control" name="storename" id="storename"
                    autocomplete="off" placeholder="Store Name" required />
            </div>

            <div class="form-group">
                <label for="description" class="label-description">
                    <span class="content-description">Description :</span>
                </label>
                <input [(ngModel)]="registration.description" type="text" class="form-control" name="description"
                    id="description" autocomplete="off" placeholder="Description" required />
            </div>

            <div class="form-group">
                <label for="address" class="label-address">
                    <span class="content-address">Address :</span>
                </label>
                <input [(ngModel)]="registration.address" type="text" class="form-control" name="address" id="address"
                    autocomplete="off" placeholder="Address" required />
            </div>

            <div class="form-group">
                <label for="city" class="label-city">
                    <span class="content-city">City :</span>
                </label>
                <input [(ngModel)]="registration.city" type="text" class="form-control" name="city" id="city"
                    autocomplete="off" placeholder="City" required />
            </div>

            <div class="form-group">
                <label for="country" class="label-country">
                    <span class="content-country">Country :</span>
                </label>
                <input [(ngModel)]="registration.country" type="text" class="form-control" name="country" id="country"
                    autocomplete="off" placeholder="Country" required />
            </div>

            <div class="form-group">
                <label for="phone no." class="label-phone no.">
                    <span class="content-phone no.">Phone No. :</span>
                </label>
                <input [(ngModel)]="registration.phone_no" type="string" class="form-control" name="phone no." id="phone no."
                    autocomplete="off" placeholder="Phone No." required />
            </div>
            <button (click)='registerShop()'>Create Shop</button>
        </form>

    </div>
</div>