.card h4 {
  font-size: 16px;
  color: black;
}
.card p {
  font-size: 16px;
  font-weight: 400;
  font-family: sans-serif;
  color: black;
}
.card span {
  font-size: 14px;
  font-weight: 600;
  font-family: sans-serif;
  text-decoration: line-through;
  margin-top: -2rem;
}
.product-cards {
  display: inline-grid;
  grid-template-columns: repeat(5, 1fr);
  grid-auto-rows: auto;
  grid-gap: -1rem;
  margin-left: 0.5rem;
  margin-top: 0.5rem;
}
.product-cards a {
  text-decoration: none;
}
.featured-collection {
  background-color: #ffffff;
  margin-left: -2.5rem;
  margin-bottom: 5rem;
  width: 87vw;
  max-height: 50vh;
}
.featured-collection .card {
  width: 95%;
  border: none;
}
.featured-collection a .card:hover {
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2);
}
.featured-collection .card img {
  width: 100%;
  object-fit: contain;
}
.featured-collection h1 {
  font-size: 23px;
  font-weight: bold;
  font-family: sans-serif;
  color: #60a6d9;
  margin-left: 1rem;
  padding-top: 1rem;
}
