<div class="container">
    <div class="featured-collection">
        <h1>Featured collections</h1>
        <div class="product-cards">
            <a href="">
                <div>
                    <div class="card mb-2">
                        <img class="card-img-top" src="assets/images/edukaheadphones.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h4 class="card-title">Headphones</h4>
                            <p class="card-text">Kshs. 3500</p>
                        </div>
                    </div>
                </div>
            </a>

            <a href="">
                <div>
                    <div class="card mb-2">
                        <img class="card-img-top" src="assets/images/edukaheadphones.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h4 class="card-title">Headphones</h4>
                            <p class="card-text">Kshs. 3500</p>
                        </div>
                    </div>
                </div>
            </a>

            <a href="">
                <div>
                    <div class="card mb-2">
                        <img class="card-img-top" src="assets/images/edukaheadphones.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h4 class="card-title">Headphones</h4>
                            <p class="card-text">Kshs. 3500</p>
                        </div>
                    </div>
                </div>
            </a>

            <a href="">
                <div>
                    <div class="card mb-2">
                        <img class="card-img-top" src="assets/images/edukaheadphones.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h4 class="card-title">Headphones</h4>
                            <p class="card-text">Kshs. 3500</p>
                        </div>
                    </div>
                </div>
            </a>

            <a href="">
                <div>
                    <div class="card mb-2">
                        <img class="card-img-top" src="assets/images/edukaheadphones.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h4 class="card-title">Headphones</h4>
                            <p class="card-text">Kshs. 3500</p>
                            <p class="initial-price">Kshs.4000</p>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>

    <div class="eduka-deals">
        <h1>E-Duka Deals</h1>
        <div class="product-cards">
            <a href="">
                <div>
                    <div class="card mb-2">
                        <img class="card-img-top" src="assets/images/edukaheadphones.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h4 class="card-title">Headphones</h4>
                            <p class="card-text">Kshs. 3500</p>
                        </div>
                    </div>
                </div>
            </a>

            <a href="">
                <div>
                    <div class="card mb-2">
                        <img class="card-img-top" src="assets/images/edukaheadphones.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h4 class="card-title">Headphones</h4>
                            <p class="card-text">Kshs. 3500</p>
                        </div>
                    </div>
                </div>
            </a>

            <a href="">
                <div>
                    <div class="card mb-2">
                        <img class="card-img-top" src="assets/images/edukaheadphones.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h4 class="card-title">Headphones</h4>
                            <p class="card-text">Kshs. 3500</p>
                        </div>
                    </div>
                </div>
            </a>

            <a href="">
                <div>
                    <div class="card mb-2">
                        <img class="card-img-top" src="assets/images/edukaheadphones.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h4 class="card-title">Headphones</h4>
                            <p class="card-text">Kshs. 3500</p>
                        </div>
                    </div>
                </div>
            </a>

            <a href="">
                <div>
                    <div class="card mb-2">
                        <img class="card-img-top" src="assets/images/edukaheadphones.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h4 class="card-title">Headphones</h4>
                            <p class="card-text">Kshs. 3500</p>
                            <p class="initial-price">Kshs.4000</p>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>

    <div class="eduka-featured-categories">
        <h1>E-Duka Featured Categories</h1>
        <div class="product-cards">
            <a href="">
                <div>
                    <div class="card mb-2">
                        <img class="card-img-top" src="assets/images/edukaheadphones.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h4 class="card-title">Headphones</h4>
                            <p class="card-text">Kshs. 3500</p>
                        </div>
                    </div>
                </div>
            </a>

            <a href="">
                <div>
                    <div class="card mb-2">
                        <img class="card-img-top" src="assets/images/edukaheadphones.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h4 class="card-title">Headphones</h4>
                            <p class="card-text">Kshs. 3500</p>
                        </div>
                    </div>
                </div>
            </a>

            <a href="">
                <div>
                    <div class="card mb-2">
                        <img class="card-img-top" src="assets/images/edukaheadphones.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h4 class="card-title">Headphones</h4>
                            <p class="card-text">Kshs. 3500</p>
                        </div>
                    </div>
                </div>
            </a>

            <a href="">
                <div>
                    <div class="card mb-2">
                        <img class="card-img-top" src="assets/images/edukaheadphones.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h4 class="card-title">Headphones</h4>
                            <p class="card-text">Kshs. 3500</p>
                        </div>
                    </div>
                </div>
            </a>

            <a href="">
                <div>
                    <div class="card mb-2">
                        <img class="card-img-top" src="assets/images/edukaheadphones.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h4 class="card-title">Headphones</h4>
                            <p class="card-text">Kshs. 3500</p>
                            <p class="initial-price">Kshs.4000</p>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>